.background_container.about_background {
    background-position: top;
    background-size: cover;
    background-image: url(../images/wood-bg.jpg);
    background-attachment: fixed;
    padding-top: 0;
}

.about_header {
    position: relative;

    > img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
    }
}

.about_section {
    margin-bottom: 4rem;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;

    @media(min-width: $nav_breakpoint) {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        > :first-child {
            flex: 0 0 420px;
        }
    }

    .image_container {
        box-sizing: border-box;
        padding: 1.5rem;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
    }

    .body {
        padding: 1.5rem;

        .title_container {

            h1, h2 {
                text-transform: uppercase;
                font-size: min(5rem, calc(2.8rem + 2vw));
                font-weight: 900;
                text-align: center;
                margin-top: 0;
                line-height: 1;
                margin-bottom: 1rem;

                @media(min-width: $nav_breakpoint) {
                    text-align: left;
                    margin-top: 4rem;
                }
            }
        }
    }
}

.about_video_section {
    padding: 8rem 0 calc(8rem + 3vw);

    > header {

        h2 {
            text-align: center;
        }
    }

    > .body {
        text-align: center;
    }

    .ytplayer {
        width: 960px;
        height: min(540px, calc(56.25vw - 2.25rem));
        max-width: 100%;
        margin: 2rem auto 0;
    }
}