.site-main {
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    position: relative;

    a {
        color: lighten($accent_blue, 50%);
    }

    @media(min-width: $nav_breakpoint) {
        margin-bottom: clamp(0px, calc(100vw - 120rem - 17px), 100px);
    }
}

.tax-product_category, .single-product, .page-template-where-to-buy, .post-type-archive-product {

    .site-main {
        background: #000000;

        @media(min-width: $nav_breakpoint) {
            margin-bottom: 0;
        }
    }
}

.background_container {
    width: 100%;
    max-width: $background_max_width;
    margin: 0 auto;
    background-color: #000000;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-size: cover;
    position: relative;

    &.no_pad {
        padding-top: unset;
        padding-bottom: unset;
    }

    > *:not(.background_overlay) {
        z-index: 1;
    }
}

.background_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 0;
}

.content_container {
    width: 100%;
    max-width: $content_max_width;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
}

.post_title {
    font-size: 4.5rem;
    font-weight: 900;
    margin-top: 0;

    .heading_p1 {
        text-transform: uppercase;
    }

    .heading_p2 {
        font-size: 150%;
    }
}

a.button {
    font-size: 125%;
	display: inline-block;
	font-weight: 900;
	background: $on_accent_red;
	color: $accent_red;
    border: 1px solid $on_accent_red;
	text-align: center;
	border-radius: 0.5em;
	padding: 0.25ch 0.5ch;
	text-decoration: none;

    &:focus-visible, &:hover {
        color: darken($accent_red, 5%);
        background: linear-gradient($on_accent_red, darken($on_accent_red, 10%));
        transition: color 100ms;
        border-bottom: none;
        border-top-width: 2px;
    }

    &:focus-visible {
        outline: 2px dotted $on_accent_red;
    }
}

.breaker {
    padding-top: 2rem;
    padding-bottom: 2rem;

    > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 30ch;
        padding: 0 2rem;
    }
}

.page-header, .page-header > h1 {
    font-size: 200%;
    display: block;
    width: 100%;
    max-width: $content_max_width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}