.faq {
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    p:last {
        margin-bottom: 0;
    }

    &:not(:last-child) {
        border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    }

    header > h2::before {
        content: 'Q:';
        display: inline-block;
        margin-inline-end: 0.5ch;
    }

    .content > *:first-child:before {
        content: 'A:';
        display: inline-block;
        margin-inline-end: 0.5ch;
    }
}