.site-footer {
    background-color: $accent_blue;
    color: $on_accent_blue;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media(min-width: $nav_breakpoint) {
        text-align: left;
    }

    * {
        color: $on_accent_blue;
    }

    .menu-wrapper {
        display: block;

        li {
            margin-right: 0;
            margin-left: 0;
            display: block;

            a {
                color: $on_accent_blue;
                text-decoration: none;
                display: inline-block;

                &:focus {
                    outline-color: $on_accent_blue;
                }
            }
        }
    }

    @media(min-width: $nav_breakpoint){
        &.scrolled, &.not-scrolled {
            position: fixed;
            z-index: 1;
            bottom: 0;
        }

        &.scrolled {
            transform: translateY(0%) !important;
        }

        &.not-scrolled {
            transform: translateY(100%) !important;
        }
    }
}

#footer-menu-container {

    li a {
        font-weight: 900;
        font-size: 2rem;

        @media(min-width: $nav_breakpoint) {
            padding: 0;
        }
    }
}

#footer-secondary-menu-container {

    li a {
        text-transform: unset;
        font-weight: 400;

        @media(min-width: $nav_breakpoint) {
            padding: 0;
        }
    }

    li {
        @media(min-width: $nav_breakpoint) {
            margin-bottom: 1em;
        }
    }
}

#footer-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    font-size: 4rem;

    @media(min-width: $nav_breakpoint) {
        place-content: flex-start;
        margin-left: -0.5rem;
    }

    li {
        margin: 0 0.5rem;

        a {

        }
    }
}

.footer-content-container {
    width: 100%;
    max-width: $footer_max_width;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 100px;
}

.footer-logo-container {

    a {
        display: inline-block;
    }

    img {
        width: 100%;
        max-width: 262px;
        height: auto;
        display: block;
        margin: 0 auto;
        padding: 1rem;
    }
}

.footer-copyright-container {
    margin-top: 2rem;
    font-size: 1.4rem;

    a {
        text-decoration: none;
        border-bottom: 1px dotted #ffffff;
    }
}

@media(min-width: $nav_breakpoint) {

    .footer-logo-container {
        flex-shrink: 0;
    }

    .footer-content-container {
        display: flex;
        flex-flow: row nowrap;
    }

    .footer-links-wrapper {
        margin-left: calc(15px + 5vw);
        padding-top: 30px;
        display: flex;
        flex-flow: row wrap;
    }

    .footer-copyright-container {
        flex: 1 1 100%;
    }

    .footer-secondary-menu-container {
        margin-top: 0.5em;
    }

    .footer-menu-container {
        margin-right: calc(10px + 5vw);
    }
}