.background_container.products_background{
    background-position: top;
    background-size: cover;
    background-image: url(../images/products-smoke-bg.jpg);
    background-attachment: fixed;
    margin-top: 0;
}

.product_categories_nav_container {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.products_header {
    position: relative;
    margin-top: -2rem;

    > img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        min-height: 50vh;
        object-fit: cover;
    }

    .scroll_next {
        z-index: 1;
        position: absolute;
        bottom: 1rem;
        color: white;
        font-size: 3rem;
        text-decoration: none;
        display: block;
        width: 100%;
        max-width: 5ch;
        text-align: center;
        border-radius: 0.5rem;
        margin: 2rem auto;
        line-height: 0;
        left: 50%;
        transform: translateX(-50%);
    
        &:hover, &:focus-visible {
            background-color: rgba(255, 255, 255, 0.25);
        }
    
        &:focus-visible {
            outline: 2px dotted white;
        }
    }
}

nav.product_categories {
    font-size: 1.5rem;

    > ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;

        @media(min-width: $nav_breakpoint) {
            display: flex;
            flex-flow: row nowrap;
        }
    }

    li {
        flex: 1;
        margin: 0.5ch auto;
        padding: 0;
        max-width: 40ch;

        @media(min-width: $nav_breakpoint) {
            margin-inline-end: 0.5ch;
            margin-inline-start: 0.5ch;
            max-width: unset;

            &:first-child {
                margin-inline-start: 0;
            }

            &:last-child {
                margin-inline-end: 0;
            }

        }

        > a {
            background-color: $on_accent_blue;
            border-radius: 6px;
            color: $accent_blue;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            width: 100%;
            padding: 0.75ch 1.5ch;
            box-sizing: border-box;
            text-align: center;

            &:focus-visible {
                outline: 2px dotted $on_accent_blue;
            }

            &:focus-visible, &:hover {
                background-color: darken($on_accent_blue, 5%);
            }
        }

        &.active {

            > a {
                background-color: darken($on_accent_blue, 25%);
            }
        }
    }
}

article.product {

    @media(min-width: $nav_breakpoint) {
        display: flex;
        flex-flow: row nowrap;

        > * {
            width: 50%;
            flex: 0 1 50%;
            padding: 1rem 1rem max(6rem, 12.5vh);
        }
    }
}

.product_image_wrapper {
    padding-bottom: 6rem;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 1;
        margin: 1rem auto 0;
        text-align: center;
        font-weight: bold;
        max-width: 30rem;
    }

    .weight_subtitle {
        font-size: 1.4rem;
        font-style: italic;
        display: block;
        text-align: center;
        font-weight: 500;
    }
}

.product_content_wrapper {
    padding-bottom: 6rem;

    > *:not(:last-child) {
        margin-bottom: 4rem;
    }
}

.product_title_container {

    .category {
        text-transform: lowercase;
        font-weight: bold;
        font-style: italic;
    }

    > h1 {
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1;
        margin: 0;
    }
}

.product_description_container, .meta_container {
    font-size: 1.6rem;
}

a.product_shop_button {
    margin-left: auto;
    margin-right: auto;
    background-color: lighten($accent_red, 10%);
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
    display: block;
    max-width: 20ch;
    text-align: center;
    padding: 1ch;
    box-sizing: border-box;
    text-decoration: none;

    &:focus-visible, &:hover {
        background-color: darken($accent_red, 2.5%);
    }

    &:focus-visible {
        outline: 2px dotted $on_accent_red;
    }

    @media(min-width: $nav_breakpoint) {
        margin-inline-end: auto;
        margin-inline-start: 0;
    }
}

.opener {

    &:not(:last-child).inactive {
        border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    }

    &.inactive {

        .opener_title_bar > span {
            transform: translateY(-50%);
        }


        .body {
            display: none;
        }
    }
}

.opener_title_bar {
    background: none;
    display: block;
    width: 100%;
    position: relative;
    text-decoration: none;
    text-align: left;
    padding: 0.25em 7rem 0.25em 0;

    > h3 {
        display: inline;
        font-weight: 700;
    }

    > span {
        position: absolute;
        right: 0;
        padding-right: 1rem;
        top: 50%;
        transform: translateY(-55%);
        font-size: 6rem;
        font-weight: 400;
    }
    
    &:hover, &:focus-visible {
        background-color: rgba(255, 255, 255, 0.25);
        text-decoration: none;
    }

    &:focus-visible {
        outline: 1px dotted $on_accent_red;
    }
}

.meta_container .body table {

    td:not(:last-child) {
        padding-inline-end: 3ch;
    }
}

.product_category {

    > header {
        text-align: center;
        margin-bottom: 3rem;

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            font-size: max(4.5rem, calc(2rem + 2.5vw));
            margin-top: 0;
            margin-bottom: 1rem;
        }

        p {
            margin: 0 auto;
            max-width: 60ch;
            font-size: max(1.4rem, calc(0.5rem + 0.75vw));
        }
    }

    .products {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        flex-flow: row wrap;

        > li {
            width: 100%;
            flex: 0 0 100%;

            @media(min-width: 640px){
                width: 50%;
                flex-basis: 50%;
            }

            @media(min-width: $nav_breakpoint) {
                width: 33.333%;
                flex-basis: 33.333%
            }
        }

        > li {
            margin: 0;
            padding: 1rem;
            box-sizing: border-box;

            > a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 1rem;
                border-radius: 1rem;
                color: white;
                text-decoration: none;

                &:hover, &:focus-visible {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                &:focus-visible {
                    outline: 2px dotted white;
                }
            }
        }

        img {
            display: block;
            height: 300px;
            width: 100%;
            object-fit: contain;
            margin: 0 auto;
        }

        h2 {
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1;
            margin: 0.75em 0 0;
        }

        .weight_subtitle {
            font-style: italic;
            font-size: 1.4rem;
            display: block;
            font-weight: bold;
        }
    }
}

.our_brands {
    background-color: $on_accent_blue;
    color: #000000;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: calc(660px + 4rem);
    margin: 6rem auto;

    > header {
        text-transform: uppercase;

        h1 {
            font-size: min(9rem, 3rem + 3vw);
            border-bottom: 3px solid #ccc;
            max-width: 9ch;
            margin: 2rem auto;
            line-height: 1;
            padding-bottom: 3rem;

            > span {
                color: #777;
            }
        }
    }

    .body {

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            > li {
                display: block;
                margin: 0 1rem 0 0;
                padding: 0;

                > img {
                    width: 192px;
                    height: 192px;
                    display: block;
                }
            }
        }
    }
}