.background_container.recipe_background{
    background-position: top;
    background-size: cover;
    background-image: url(../images/recipe-wood-bg.jpg);
    background-attachment: fixed;
    margin-top: 0;
}

article.recipe {
    min-height: 75vh;
    padding-top: 6rem;

    @media(min-width: $nav_breakpoint) {
        display: flex;
        flex-flow: row nowrap;

        > * {
            width: 50%;
            flex: 0 1 50%;
            padding: 1rem 1rem max(6rem, 12.5vh);
        }
    }
}

.recipe_image_wrapper {

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }

    .actions {
        margin-block-start: 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 64rem;
        margin-inline-start: auto;
        margin-inline-end: auto;

        > a {
            color: $on_accent_red;
            background: $accent_red;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 900;
            display: inline-block;
            padding: 0.75em 1.5em;
        }
    }
}

#print {
    background: transparent;
    padding: 0.5rem;
}

.recipe_text_wrapper {
    margin-block-start: 3rem;
    max-width: 64rem;
    margin-inline: auto;

    @media(min-width: $nav_breakpoint) {
        margin-inline-start: 3rem;
        margin-block-start: 0;
        max-width: unset;
    }

    > header {

        .card_title {
            line-height: 1;
            margin-block-end: 0;
            font-weight: bold;
            font-size: 1.2em;
            font-style: italic;
            text-transform: lowercase;
        }

        h1 {
            line-height: 1;
            margin-block-start: 0;
            text-transform: uppercase;
            font-weight: 900;
        }
    }
}